@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
}


nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
}

nav .profile {
	display: flex;
	align-items: center;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

nav ul li a:hover {
	color: aqua;
}

.page-content {
	margin: 4%;
}

.page-content header {
	margin-top: 5%;
	max-width: 80%;
}

.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 6vw;
}

.page-content header p {
	line-height: 30px;
	color: #818181;
}

.page-content header button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.page-content header button:hover {
	color: #ccc;
	border-bottom-color: #000;
}

.page-content .presentation-image {
	margin-top: 5%;
}

.page-content .presentation-image img {
	max-width: 100%;
	height: 50%;
	transition: filter 0.5s;
}

.page-content .presentation-image img:hover {
	filter: brightness(50%);
}


#skills {
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

#skills h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}


#skills ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;

}

#skills li {
	flex-grow: 1;

}

.skill:hover {
	transform: scale(1.1);
	/* agrandit l'image au clic */
	transition: transform 0.7s ease;
	/* ajoute une transition fluide */
}

.skill {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.skill h3 {

	position: absolute;
	top: -30px;

	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.7);

	padding: 5px 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	display: none;
}

.skill:hover h3 {
	display: block;

}

.skill img {
	display: block;
	margin: 0 auto;
}

.skill p {

	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}

.page-content #projects-section {
	margin-top: 6%;
}

.page-content #projects-section h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}

.page-content #projects-section .projects {
	display: flex;
	flex-wrap: wrap;
}

.page-content #projects-section .project {
	margin-right: 20px;
	max-width: 195px;
}

.page-content #projects-section .project h4 {
	margin: 0;
}

.page-content #projects-section .project .description {
	font-size: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: aqua;
	transition: 0.7s;


}

a:active {
	color: rgba(42, 246, 243, 0.484);
	/* Change la couleur du texte lorsqu'il est cliqué */
}

a:visited {
	text-decoration: none;
	/* Réinitialise le soulignement pour les liens visités */
	color: inherit;
	/* Réinitialise la couleur pour les liens visités */
}

/* Styles pour le formulaire de contact */
form {
	max-width: 600px;
	margin: 0 auto;
}

#contact h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #0a0a23;
	border-radius: 5px;
}

form textarea {
	height: 150px;
}

form button {
	padding: 10px 20px;
	background-color: rgba(48, 48, 50, 0.882);

	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


form button:hover {
	background-color: aqua;
	transition: 0.7s;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}

footer {
	text-align: center;

}

footer p {
	display: block;
	margin-bottom: 10px;

}

@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}

	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}

	#skills ul {
		display: flex;
		flex-direction: column;
		/* Afficher les éléments en colonne */

	}

	.page-content .projects-section {
		margin-top: 15%;
	}

	.page-content .projects-section h1 {
		font-size: 1.5em;
	}

	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}

	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}

	footer .column {
		width: 80%;
	}
}